.main-content{
    background-image: url("images/leaves.jpeg");
    opacity:0.75;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    text-align: center;
    color: white;
    background-color: #cfe3d4;
    padding: 50px;
}

hr {
    background-color: white;
}

h2{
    text-align: center;
    font-size: 40px;
}